     @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
        body {
            background: #f2e1e1;
            font-family: "Raleway", sans-serif;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #000;
        }
        ul,ol,li {
            list-style: none;
        }
        a {
            color: #000;
            text-decoration: none;
            display: inline-block;
        }

        /* 네비게이션 */
        #nav {
            width: 100%;
            position: fixed;
            bottom: 0;
            background: rgba(255,255,255,.6);
            z-index: 999;
        }
        #nav:hover {
            background: rgba(255,255,255,1);
        }
        #nav ul {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            text-align: center;
            padding: 10px;
            position: relative;
        }

        #nav ul li a {
            width: 100%;
            padding: 8px;
            align-content: center;
        }
        #nav ul li a:hover {
            background: #ccc;
        }

        /* 메인01 */
        #main01 {
            background: url(./img01.jpg) no-repeat center center/cover;
            height: 919px;
            filter: grayscale(40%);
        }
        #main01 .textBox {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        #main01 .textBox * {
            color: #fff;
            padding: 8px 0;
            letter-spacing: 5px;
        }
        #main01 .textBox h1 {
            font-weight: 400;
            font-size: 64px;
        }
        #main01 .textBox p {
            font-weight: 400;
            font-size: 30px;
        }
        #main01 .textBox h2 {
            font-weight: 500;
            font-size: 30px;
            letter-spacing: 3px;
        }

        /* 메인02 */
        #main02 {
            width: 980px;
            margin: 0 auto;
            padding: 60px 0;
            text-align: center;
        }
        #main02 h1 {
            color: #666;
            font-weight: 600;
            text-align: center;
            padding-bottom: 40px;
            font-size: 36px;
        }
        #main02 .bg {
            height: 550px;
            background: url(./img02.jpg) no-repeat center center/cover;
            margin-bottom: 30px;
            filter: grayscale(70%);
        }
        #main02 p {
            font-style: italic;
            color: #333;
            font-size: 15px;
            line-height: 30px;
            text-align: justify;
            margin-bottom: 60px;
            font-weight: 400;
        }
        #main02 a {
            background: #000;
            color: #fff;
            padding: 12px 24px;
            font-size: 18px;
            border-radius: 3px;
            margin: 0 auto;
        }
        #main02 a:hover {
            background: #ccc;
            color: #000;
        }

        /* 메인03 */
        #main03 {
            height: 919px;
            background: url(./flowers.jpg) no-repeat center center/cover;
            position: relative;
        }
        #main03 .textBox {
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        #main03 .textBox * {
            color: #fff;
            padding: 15px 0;
            
        }
        #main03 .textBox h1 {
            font-size: 64px;
            font-weight: 400;
            letter-spacing: 1px;
        }
        #main03 .textBox p {
            font-size: 30px;
            font-weight: 300;
        }

        /* 메인04 */
        #main04 {
            width: 980px;
            margin: 0 auto;
            padding: 70px 0;
            text-align: center;
        }
        #main04 h1 {
            color: #666;
            font-weight: 500;
            text-align: center;
            padding-bottom: 60px;
            font-size: 36px;
        }
        #main04 .bg {
            height: 653px;
            background: url(wedding_location.jpg) no-repeat center center/cover;
            margin-bottom: 60px;
            filter: grayscale(70%);
        }
        #main04 .cld {
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
        #main04 .cld h2 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        #main04 p {
            color: #000;
            font-size: 15px;
            text-align: center;
            margin-bottom: 30px;
        }
        
        /* 메인05 */
        #main05 {
            background: #ffdddd;
            text-align: center;
            padding: 60px;
        }
        #main05 h2 {
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 30px;
            letter-spacing: 5px;
        }
        #main05 p {
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 3px;
            margin-bottom: 30px;
        }
        #main05 a {
            padding: 15px 60px;
            background: #f44336;
            opacity: .6;
            color: #fff;
            font-size: 24px;
            font-weight: 400;
            border-radius: 4px;
            margin-bottom: 20px;
        }
        #main05 a:hover {
            background: #ccc;
            color: #000;
            opacity: 1;
        }
        
        /* 메인06 */
        #main06 {
            padding: 36px 0;
            text-align: center;
            background: #000;
            color: #fff;
            margin-bottom: 20px;
        }
        #main06 p {
            color: #fff;
            font-size: 15px;
        }
        #main06 a {
            color: #fff;
            font-size: 15px;
            text-decoration: underline;
            
        }
        #main06 a:hover {
            color: #4caf50;
        }